h1, h2, div {
    text-align: center;
}
#navbar {
    background-color: skyblue;
    color: white;
    padding: 20px;
}
#footer {
    margin-top: 30px;
    margin-bottom: 30px;
}
body {
    background-color: powderblue;
}
@media (min-width: 650px) {
    p {
      width: 50%;
      margin: auto;
    }
}
@media (max-width: 651px) {
    p {
        width: 95%;
        margin: auto;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 22.72px;
    }
    h4 {
        font-size: 20px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 17.28px;
    }
}
li {
    font-size: 20px;
    margin-left: 100px;
}
.scientific {
    display: none;
}
.species:hover {
    background-color: darkturquoise;
}
.species:hover .scientific {
    display: inline-block;
    font-style: italic;
}
.tax {
    font-weight: bold;
    color: mediumblue;
}
img {
    border: 1px solid black;
}
li > p {
    width: 95%;
    margin-left: 5%;
}
ul > li {
    margin-bottom: 20px;
    margin-left: 5px;
}
.tablepara {
    width: 100%;
}
