%message {
    font-family: Impact, sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin: 5px;
}
.link {
    background-color: white;
    border: 1px solid black;
    width: 200px;
    height: 50px;
    &:hover {
        background-color: lightgreen;
    }
    @extend %message;
}
.nolink {
    background-color: darkgreen;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    @extend %message;
}
.letter {
    background-color: white;
    border: 1px solid white;
    &:hover {
        background-color: blanchedalmond;
        border: 1px solid black;
  }
  @extend %message;
}
