%message {
    font-family: Impact, sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin: 5px;
}
.link {
    background-color: lightcyan;
    color: #337ab7;
    border: none;
    width: 200px;
    height: 50px;
    &:hover {
        background-color: darkturquoise;
    }
    @extend %message;
}
.nolink {
    background-color: skyblue;
    color: white;
    text-shadow: 1px 1px black;
    border: none;
    width: 200px;
    height: 50px;
    @extend %message;
}
.letter {
    background-color: powderblue;
    color: #337ab7;
    border: none;
    &:hover {
        background-color: darkturquoise;
        border: none;
  }
  @extend %message;
}
