$color: gainsboro;

table {
    background-color: $color;
    border: 3px solid black;
}
th, td {
    padding: 10px;
}
th {
    text-decoration: underline;
}
.indexcell {
    margin: 30px;
    tr, td {
      border: none;
      text-align: center;
    }
}
.bordercell {
    margin: auto;
    th, tr, td {
      border: 1px solid black;
      text-align: center;
    }
}
